<div class="row">

  <nb-card>
    <nb-card-header>Literature awards from all over the world.</nb-card-header>
    <nb-card-body>
      <a (click)='showSearch()'>Click / tap here to search</a>
    </nb-card-body>
  </nb-card>
</div>
<div class="row">
  <nb-card>
    <nb-card-header>Awards</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item>
          <a routerLink='/pages/awards/nobel'>
            Nobels : {{nobelAuthors }}
          </a>
        </nb-list-item>
        <nb-list-item>
          <a routerLink ='/pages/awards/booker'>
            Booker : {{bookerAuthors }}
          </a>
        </nb-list-item>
        <nb-list-item>
          <a routerLink ='/pages/awards/bg'>
            Bill  Gates recommended books : {{BGAuthors }}
          </a>
        </nb-list-item>
        <nb-list-item>
          <a routerLink ='/pages/awards/iaf'>
            Ignat Andrei recommended books : {{IAFAuthors }}
          </a>
        </nb-list-item>
      </nb-list>

    </nb-card-body>
  </nb-card>

</div>
<div class="row" *ngIf="searchTerm?.length>0" >
  Found {{searchAuthors?.length}} of {{searchTerm}}       
</div>
<div class="row" *ngFor="let a of searchAuthors;let i=index;">
  <nb-card>
    <nb-card-header>{{i+1}} {{a.Author}}</nb-card-header>
    <nb-card-body>
      from <a routerLink ='/pages/awards/{{a.Collection | lowercase }}'>{{a.Collection}} </a>
    </nb-card-body>
  </nb-card>
</div>
<div class="row">
  About:<a href='http://msprogrammer.serviciipeweb.ro/' target="_blank">http://msprogrammer.serviciipeweb.ro/</a>

</div>

<div class="row">
  Site Web:<a href='https://ignatandrei.github.io/LiteraryAwards/' target="_blank">https://ignatandrei.github.io/LiteraryAwards/</a>

</div>
<div class="row">
  Google Play :<a href='https://play.google.com/store/apps/details?id=com.msprogrammer.com' target="_blank">https://play.google.com/store/apps/details?id=com.msprogrammer.com</a>

</div>
<div class="row">
  Amazon :<a href='https://www.amazon.com/AOM-Literary-Awards/dp/B07HPFSZ4C/' target="_blank">https://www.amazon.com/AOM-Literary-Awards/dp/B07HPFSZ4C/</a>

</div>


<div class="row">
  github:<a href='https://github.com/ignatandrei/LiteraryAwards' target="_blank">https://github.com/ignatandrei/LiteraryAwards</a>

</div>


