<div class="row">
  <nb-card>
    <nb-card-header>Literature awards from all over the world.</nb-card-header>
    <nb-card-body>Search {{searchTerm}} </nb-card-body>
  </nb-card>
</div>
<div class="row">
  <nb-card>
    <nb-card-header>Awards</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item>
          <a href='/#/pages/awards/nobel'>
            Nobels : {{nobelAuthors }}
          </a>
        </nb-list-item>
        <nb-list-item>
          <a href='/#/pages/awards/booker'>
            Booker : {{bookerAuthors }}
          </a>
        </nb-list-item>
      </nb-list>

    </nb-card-body>
  </nb-card>

</div>